:root{
    --background-home: #1E1611;
    --primary: #29221D;
    --secondary: #A8A5A6;
    --orange:#FE6C00;
    --red:#FE1E00;
    --green:#00FE93;
    --font:#FFFFFF;
    --font-primary: #C7C4C6;
    --font-secondary: #8A8587;
    --budget-card-font: #BDBABB;
    --budget-card-frame: #302924;
    --background-loans: #37302B;
    --polosa:#473B33;
    --light-orange: #FFC397;
}